<section class="sign-in">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="loginform-container">
            <img class="ntspl-logo" src="https://mom.ntspl.co.in/static/media/meeting-plus-logo.6a89795660435c43efd306e482632f36.svg">
            <form (submit)="verifyOtp()">
              <div class="text">
                <h4>Welcome to Meeting Plus</h4>
                <p>Check your email for OTP</p>
              </div>
              <div class="form-group">
                <label class="mb-1">Enter Your 6 Digit OTP <span>*</span></label>
                <div class="pincode">
                    <div class="digit">
                        <input type="text" [(ngModel)]="otp1" name="otp1" maxlength="1" (input)="moveFocus($event, 'otp2')">
                    </div>
                    <div class="digit">
                        <input type="text" [(ngModel)]="otp2" name="otp2" maxlength="1" (input)="moveFocus($event, 'otp3')">
                    </div>
                    <div class="digit">
                        <input type="text" [(ngModel)]="otp3" name="otp3" maxlength="1" (input)="moveFocus($event, 'otp4')">
                    </div>
                    <div class="digit">
                        <input type="text" [(ngModel)]="otp4" name="otp4" maxlength="1" (input)="moveFocus($event, 'otp5')">
                    </div>
                    <div class="digit">
                        <input type="text" [(ngModel)]="otp5" name="otp5" maxlength="1" (input)="moveFocus($event, 'otp6')">
                    </div>
                    <div class="digit">
                        <input type="text" [(ngModel)]="otp6" name="otp6" maxlength="1" (input)="moveFocus($event, 'otp7')">
                    </div>
                 </div>             
            </div>
        
        

              <button type="submit" class="btn1">Verify</button>
              <div class="back-resend back-arrow">
                <a routerLink="/">
                  <div class="back">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0b77e8" viewBox="0 0 16 16" class="bi bi-arrow-left">
                      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"></path>
                    </svg>
                    <span>Back to Sign In</span>
                  </div>
                </a>
                
                  <button type="button" class="btn btn-link"(click)="getOtp()">Resend OTP</button>
                 
                
              </div>
            </form>
          </div>
        </div>
    </div>
</div>

</section>